<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>

</head>
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <form th:id="sign" th:action="@{/processing-url}" method="post">
                <h3 th:for="sign" style="margin-top: 75px">Please sign in</h3>
                <input type="text"  placeholder="Email address" style="border: 0.5px solid #cccccc; border-collapse: collapse; border-radius:5px; width: 250px; height: 40px;" name="login" autofocus="autofocus" /> <br/>
                <input type="password" placeholder="Password" style="border: 1px solid #cccccc; border-collapse: collapse; border-radius:5px; width: 250px; height: 40px;" name="password" /> <br/>
                <input type="submit" style="background: steelblue; color: #eaeaea;
                    border-radius:5px; margin-top: 5px; width: 250px; height: 40px;" value="Log in" />
            </form>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>